/*
* This configuration file is main one. This includes the pipeline parameters and differend config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
* 
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"


workDir = "./work"
scratch = "./"

process {
    withLabel: 'high' {
        memory = 8.GB
        cpus = 8
    }
    withLabel: 'low' {
        memory = 2.GB
        cpus = 2
    }
}

conda.enabled = true
conda.useMicromamba = true

// Singularity configuration - enabled by default
singularity {
    enabled = true
    autoMounts = false  // Disable to prevent home directory contamination
    cacheDir = './singularity'
    runOptions = '--cleanenv'  // Clean environment to avoid local package interference
}

// Prevent Python from using user site-packages which can conflict with container packages
env {
    PYTHONNOUSERSITE = '1'
}

// define different profiles
profiles {
    singularity {
        singularity.enabled = true
        docker.enabled = false
        conda.enabled = false
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
        conda.enabled = false
    }
    conda {
        conda.enabled = true
        singularity.enabled = false
        docker.enabled = false
    }

    standard {
        includeConfig 'config/standard.config'
    }
    slurm {
        includeConfig 'config/slurm.config'
    }
}

// plugins {
//   id 'nf-boost'
// }

// boost {
//   cleanup = true
// }

conda.cacheDir = 'conda_cache'