/*
* This configuration file is main one. This includes the pipeline parameters and differend config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
* 
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"


workDir = "./work"
scratch = "./"

process {
    withLabel: 'high' {
        memory = 8.GB
        cpus = 8
    }
    withLabel: 'low' {
        memory = 2.GB
        cpus = 2
    }
}

conda.enabled = true
conda.useMicromamba = true

// define different profiles
profiles {
    singularity {
        enabled = true
        cacheDir = './singularity'
    }
    docker {
        enabled = true
    }
    conda {
        enabled = true
    }

    standard {
        includeConfig 'config/standard.config'
    }
    slurm {
        includeConfig 'config/slurm.config'
    }
}

// plugins {
//   id 'nf-boost'
// }

// boost {
//   cleanup = true
// }

conda.cacheDir = 'conda_cache'